<div>
	<h1 class="page-header">Applications</h1>

	<div class="row placeholders">
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Sales of Most Selling App -->
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Sales of 2nd Most Selling App -->
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Sales of 3rd Most Selling App -->
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Sales of 4th Most Selling App -->
		</div>
	</div>

	<div>
		<!-- Table of top 25 selling applications -->
	</div>
</div>