<div>
	<h1 class="page-header">Dashboard</h1>

	<div class="row placeholders">
		<div class="col-xs-6 col-sm-3 placeholder">
			<dial-graph caption="Total Sales" ng-attr-count="db.sales" stroke-width="10" radius="80" ng-attr-percentage="db.salesProgress"></dial-graph>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Sales By Men -->
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Sales By Women -->
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Sales By Top State -->
		</div>
	</div>
	
</div>