<div>
	<h1 class="page-header">Affiliates</h1>

	<div class="row placeholders">
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Count of Men -->
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Count of Women -->
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Average Men Age -->
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Average Women Age -->
		</div>
	</div>

	<div>
		<!-- Profiles of top 3 selling affiliates -->
	</div>

	<div>
		<!-- Table of top 25 selling affiliates -->
	</div>
</div>