<div>
	<h1 class="page-header">Affiliates</h1>

	<div class="row placeholders">
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Count of Men -->
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Count of Women -->
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Average Men Age -->
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<!-- Dial Graph: Average Women Age -->
		</div>
	</div>

	<div>
		<!-- Profiles of top 3 selling affiliates -->
	</div>

	<div>
		<h2>Top 25</h2>
		<table class="table table-hover">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Application</th>
				<th>Sales</th>
			</tr>
			<tr ng-repeat="a in lc.topAffiliates" ng-click="lc.showProfile(a.id)">
				<td>{{ a.firstName }}</td>
				<td>{{ a.lastName }}</td>
				<td>{{ a.app }} {{ a.version }}</td>
				<td>{{ a.sales }}</td>
			</tr>
		</table>
	</div>
</div>